.hackathon-dashboard {
    .section-container {
        position: relative;
    }

    .right-actions {
        position: absolute;
        top: 0px;
        right: 10px;
    }

    .left-actions {
        width: 60%;
    }

    .no-margin-or-padding {
        margin: 0px;
        padding: 0px;
    }

    #dashboard-help-text {
        margin-top: 10px;
        min-height: 1.5em;
    }
}
