.hackathon-statistics {
   .bar {
     fill: @aui-color-bright-blue-1;
     opacity: 0.75;

     &.teams {
        fill: @aui-color-bright-blue-1;
     }

     &.competitors {
        fill: @aui-color-yellow;
     }
   }

   .bar:hover {
     opacity: 1;
   }

   .axis {
     font: 10px sans-serif;
   }

   .axis path,
   .axis line {
     fill: none;
     stroke: #000;
     shape-rendering: crispEdges;
   }

   .x.axis path {
     display: none;
   }
}
