.hackathon-team-panel {
   // TODO are all of these body fields required?
   &.body {
      position: absolute;
      padding: 0;
      margin-top: 0px;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
   }

   .refresh-button {
      z-index: 1000;
      position: absolute;
      right: 10px;
   }

   #team-members-label {
      display: inline-block;
   }

   .team-members-container {
      /* This is to make the table cell take up as much width as it can. */
      td.team-member-name-block {
         width: 100%;
      }

      .remove-team-member {
         vertical-align: top;
      }

      /* This is to prevent the img's getting strangely squished. */
      .aui-avatar img {
         width: inherit;
         height: inherit;
      }

      tr.deleting {
         color: @aui-color-light-gray;
      }
   }

   .hackathon-info-lozenge {
      margin-top: 7px;
   }

   form.aui {
      margin: 0;
   }

   #team-members {
      padding-bottom: 10px;
   }

   .past-results {
       text-align: left;
   }
}
