.hackathon-summary {
   .ac-content {
      padding: 20px;
   }

   .section {
      margin-top: 30px;
   }

   .round-heading {
      background-color: @aui-color-light-gray;

      td {
         padding-bottom: 2px;
         padding-top: 2px;
      }
   }
}
