@import "../common.less";
@import "../colors.less";
@import "../rounded-corners.less";

@vote-color-border: #d0dcef;
@vote-gray: #ddd;
@vote-green: #398a00;
@vote-border-green: #317302;

@footerHeight: 20px;

.hackathon-vote {
  .hidden {
    display: none;
  }

  // We don't want an outline to appear against any of the links
  // See: https://css-tricks.com/removing-the-dotted-outline/
  a {
     outline: 0;
  }

  .list-divider {
    padding: 3px 10px;
    background-color: @aui-color-light-gray;
    color: @aui-color-medium-gray;
    font-weight: bold;
    list-style: none;
    text-shadow: 0 -1px rgba(255, 255, 255, 1);
  }

  .content {
      // We need to make sure that there is always a bit of extra room after the content for the
      // footer.
      margin-bottom: @footerHeight * 2;
   }

  .list {
    padding: 0px;
    margin: 0px;
    display: table;
    width: 100%;

    .list-item {
      display: block;
      .border-box();
      color: @aui-color-charcoal;
      background-color: @aui-color-white;
      border-top: 1px solid @vote-gray;
      text-decoration: none; // This only applies when the list-item is a link

      &.hackathon-team {
         // This is required so that the vote and undo covers work as anticipated
         position: relative;
      }

      &.with-border {
         & > .list-item-section {
            .border-box();
         }

         // Special casing for the last child
         &:last-child {
            border-bottom: 1px solid @vote-gray;
         }

         &:hover > .list-item-section, 
         &:hover + .list-item {
           border-color: @vote-color-border;
         }
      }

      .list-item-section {
         display: table-cell;
         vertical-align: middle;
      }

      .cover {
         position: absolute;
         display: block;
         width: 100%;
         height: 100%;
         top: 0px;
         text-align: center;

         &.vote {
            text-align: right;
            padding-right: 15px;
            color: white;

            .full span {
               padding-right: 15px;
            }
         }

         &.undo {
            text-align: left;
            padding-left: 15px;

            .full span {
               padding-left: 15px;
            }
         }

         .full {
            position: static;
            display: table;
            height: 100%;
            width: 100%;

            span {
               vertical-align: middle;
               position: static;
               display: table-cell;
               font-size: x-large;
               line-height: 20px;
            }
         }
      }

      @list-padding: 15px;
      &.padded-section,
      .padded-section {
         padding-top: @list-padding;
         padding-bottom: @list-padding;
         padding-left: @list-padding;
         padding-right: @list-padding;
      }

      // What to do on hover
      &:hover .list-item-section, 
      &:hover {
        background: @aui-color-pale-blue;
        border-color: @vote-color-border;

        .vote-count span {
            background-color: @vote-color-border;
            color: @aui-color-white;
        }

        .next {
          color: @vote-color-border;
        }
      }

      // The styles to apply to the vote count element (hackathon team specific)
      .vote-count {
        width: 16px;

        span {
          .rounded-corners(9px);
          color: @aui-color-gray;
          background-color: @aui-color-silver;
          padding: 1px 6px;
          margin: 0 10px;
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          display: inline-block;
        }
      }

      // The styles to apply to the next block
      .next {
        width: 16px;
        text-align: right;
        color: @aui-color-ash-gray;

        &:hover {
          color: @vote-color-border;
        }
      }

      // The styles to apply to the details section (hackathon team specific)
      .details {
        width: 100%;

        .team-name, .team-members {
           display: block;
        }

        span {
          display: block;
          padding-left: 0px;
          padding-bottom: 0px;
          padding-top: 0px;
        }

        .list-item-title {
          color: @aui-color-charcoal;
          font-size: 18px;
        }

        @media only screen and (max-width: 481px) {
          .list-item-title {
            .trailing-dots();
            width: 230px;
          }
        }

        .team-members {
          color: @aui-color-gray;
          font-size: 12px;
          line-height: 20px;
          .trailing-dots();
          width: 230px;
        }
      }
    }
  }

  header.title {
    background-color: @aui-color-blue;
    border-bottom: 1px solid #0b2650;
    vertical-align: middle;
    text-align: center;
    padding: 10px 5px;

    .project-title {
      display: inline-block;
      color: @aui-color-white;
      width: 80%;
      font-size: 19px;
      font-weight: bold;
      text-shadow: 0 -1px rgba(0, 0, 0, .6);
    }

    .button {
      display: inline-block;
      width: 20px;
      color: @aui-color-white;
      text-decoration: none;

      &.hidden {
        display: none;
      }

      &.left {
        float: left;
        margin-left: 10px;

        text-align: left;
        position: relative;
        top: 3px;
        left: 0px;
        font-size: 16px;
        text-shadow: 0 -1px rgba(0, 0, 0, .6);
      }

      &.right {
        text-align: right;
        float: right;
        margin-right: 10px;
      }
    }
  }

  // The Project View CSS
  h1.team-summary {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 200;
  }

  .info-box {
    padding: 0px 10px;

    h2 {
      font-size: 14px;
      font-weight: bold;
      padding: 0 0 5px 0;
      line-height: 14px;
    }

    .team-details {
      background-color: @aui-color-white;
      padding: 10px 10px 5px 10px;
      border: 1px solid @vote-gray;

      .rounded-corners(5px);

      .team-member {
        img, span {
          vertical-align: middle;
        }

        span {
          padding-left: 10px;
        }

        img {
          width: 24px;
          height: 24px;
          border-radius: 3px;
        }

        margin: 5px 0;
        display: inline-block;
        width: 49%;
        vertical-align: top;
      }
    }
  }

  .vote-container {
    display: block;
    padding: 20px 10px;
  }

  .vote-operations {
    display: table;
    text-align: center;
    width: 100%;

    .vote, .undo {
      display: table-cell;
      border: 1px solid @vote-gray;
      background-color: @aui-color-white;
      font-size: 16px;
      margin: 0px;
      padding: 20px 0px;
      width: 50%;
      float: none;

      text-decoration: none;
    }

    .vote-icon {
      font-size: 20px;
      margin-bottom: 5px;
    }

    .vote {
      color: @vote-green;

      .rounded-corner-top-left(5px);
      .rounded-corner-bottom-left(5px);

      margin-right: 0px;

      &.has-votes {
        color: @aui-color-white;
        border-color: @vote-border-green;
        background-color: @vote-green;
        box-shadow: inset 0px 1px 0px 0px rgba(255,255,255,0.2);

        span.count {
          background-color: #317800;
          color: @aui-color-white;
          padding: 1px 6px;
          .rounded-corners(9px);
          font-size: 12px;
          font-weight: bold;
          text-align: center;
          display: inline-block;
          margin-left: 5px;
        }
      }
    }

    .undo {
      margin-left: 0px;
      background-color: @aui-color-white;
      color: @aui-color-medium-gray;
      border-left-style: none;

      .rounded-corner-top-right(5px);
      .rounded-corner-bottom-right(5px);

    }
    .disabled {
      color: @aui-color-ash-gray;
    }
  }

  .description {
    padding: 0 10px 10px 10px;
    
    h2 {
        font-size: 14px;
        font-weight: bold;
    }
  }

  .footer {
    background-color: #222;
    color: @aui-color-gray;
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: @footerHeight;
    margin-top: -@footerHeight;
    width: 100%;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 7px 0px;

    &.error {
      background-color: @aui-color-red;
      color: @aui-color-white;
    }

    &.warning {
      background-color: @aui-color-yellow;
      color: @aui-color-dark-brown;

      a {
        color: @aui-color-dark-brown;
        font-weight: bold;
        text-decoration: underline;
      }
    }

    &.success {
      background-color: @aui-color-green;
      color: @aui-color-white;
    }

    .votes-remaining {
      background-color: rgba(255,255,255,0.2);
      color: rgba(255,255,255,0.6);
      padding: 1px 6px;
      font-size: 12px;
      font-weight: bold;
      margin-left: 5px;

      .rounded-corners(9px);

      .spinner {
        vertical-align: middle;
      }

    }
  }
}
