@import "../colors";

.hackathon-round-transition {
  .transition-round-selector {
    .select {
      // Somehow this makes the to block become middle aligned. No idea why...
      vertical-align: inherit;
    }

    .round-to {
      display: inline-block;
    }
  }

  #transition-reorder-row {
    width: 20px;
  }

  #transition-number-row {
    width: 20px;
  }

  #transition-ops {
    width: 20px;
  }

  #transition-empty-row {
    width: 20px;
  }

  #transition-balance-row {
    width: 350px;
  }

  #transition-operations {
    width: 10px;
  }

  .transition-actions {
    margin-top: 15px;

    .hidden {
      display: none;
    }
  }

  #transitions {
    .success {
      border-color: @aui-color-green;
    }

    .warning {
      border-color: @aui-color-yellow;
    }

    .error {
      border-color: @aui-color-red;

      ul {
         border-color: @aui-color-red;
      }
    }

    .selector-handle, .jql-editor-link, .transition-row {
      &:hover {
        cursor: pointer;
      }
    }
  }

  // The otherwise block of the transitions should align the text to the right
  .otherwise {
    text-align: right;
  }

  table.text-center > tbody > tr > td {
    vertical-align: middle;
  }

  .assignable-rooms {
    #capacity-status {
      width: 20px;
    }

    .room-adder-row {
      border-bottom: none;

      .add-room {
        vertical-align: bottom;
        margin-left: 10px;
      }
    }
  }

  .rooms-preview {
    margin-top: 20px;

    .room {
      .room-padding() {
        padding-left: 10px;
        padding-right: 10px;
      }
      .room-padding();
      width: 47%;
      display: inline-block;
      vertical-align: top;
      position: relative;

      .apply-allocation {
        position: absolute;
        right: 0px;
        top: 0px;
      }

      &.unallocated .help {
         display: inline;
         vertical-align: baseline;
         margin-left: 10px;
      }

      .no-teams {
        .room-padding();
        margin-bottom: 10px;
      }

      .room-name {
        border-bottom: 1px solid @aui-color-ash-gray;
        .room-padding();
        margin-bottom: 10px;
        padding-bottom: 5px;

        font-size: 24px;
        font-style: normal;

        .team-count, .help {
          vertical-align: middle;
        }
      }

      .team {
         .room-padding();
         padding-top: 5px;
         padding-bottom: 5px;

         &.even {
            background-color: @aui-color-light-gray;
         }

         .status {
           float: right;

           &.hidden {
            display: none;
           }
         }

         .description {
            width: 90%;
            display: inline-block;
         }
      }
    }
  }
}
