body.body {
  background-color: white;
}

// Common mixins
.trailing-dots() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-box() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}