<header class="aui-page-header"></header><!-- A hack to get no top margin on the aui-page-panel -->
<div class="aui-page-panel"><div class="aui-page-panel-inner"><section class="aui-page-panel-content"><apply-content /></section></div></div>